# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ninja
.ninja*

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeLists.txt.user
Makefile

# Exported compile_commands from clang
compile_commands.json

# IDE
.vscode/*

# Cache
.cahce/*
.cache/clangd/index/

build/*